<header> <!-- Estas son todas las páginas actuales del sitio  -->
    <nav>
        <ul>
            <li>
                <a href="/">Ir a la página principal</a>
            </li>
            <li>
                <a href="/info">Info</a> <!-- Info para los desarrolladores que luego borraré -->
            </li>
            <li>
                <a href="/api/randoms">Numero aleatorio</a> <!-- Info para los desarrolladores que luego borraré -->
            </li>
        </ul>
    </nav>
</header>
