<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/null/backend-development--v1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="./css/style.css"> <!-- Los estilos están en public/css/style.css -->
    <title>Carrito</title>
</head>
<body>
    <%- include("./partials/navBar") %> 
    <main>
        <div> 
            <h1>Carrito</h1>
        </div>

        <div class="contenedorCart">
            <div id="contenedorListaCart">
                <h2>Lista</h2>
            </div>

            <div>
                <h2>Pagos</h2>
                <ul>
                    <li>Precio total: $<span id="precioTotal">0</span> </li>
                    <button id="comprar">Comprar</button>
                </ul>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="./js/cart.js"></script>
</body>
</html>
