<div>
    <h1>Sala de chat</h1>

    <a href="/">Ir a la página principal</a>

    <input id="chatBox" type="text" placeholder="Escribe tu mensaje...">

    <div id="logsPanel"></div>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>
