<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/null/backend-development--v1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Register</title>
</head>
<body>
    <%- include("./partials/navBar") %> 

    <main>
        <h1>Formulario de registro de usuario</h1>
        <form id="formRegistroUsuario">
            <Label>Nombre
                <input type="text" name="first_name">
            </Label>
        
            <Label>Apellido
                <input type="text" name="last_name" required>
            </Label>
        
            <Label>Email
                <input type="email" name="email" required>
            </Label>
        
            <Label>Contraseña
                <input type="password" name="password" required>
            </Label>

            <Label>Dirección
                <input type="text" name="direccion" required>
            </Label>

            <Label>Edad
                <input type="number" name="age" required>
            </Label>
        
            <Label>Teléfono (colocar prefijo internacional)
                <input type="string" name="phone" required>
            </Label>

            <Label>Foto o avatar (opcional)
                <input type="file" name="image">
            </Label>

            <button type="submit">Registrarse</button>
        </form>
    
        <p>Si ya estás registrado, <a href="/formUsers/login">loguéate</a></p>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../js/register.js"></script>
</body>
</html>
