<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/null/backend-development--v1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/style.css"> <!-- Los estilos están en public/css/style.css -->
    <title>Login</title>
</head>
<body>
    <%- include("./partials/navBar") %> 

    <main>
        <h1>Formulario de logueo de usuario</h1>
        <p><%= redirect ? "Haz sido redirigido aquí porque no estás logueado" : "" %> </ps>
        <form id="formLoginUsuario">    
            <Label>Email
                <input type="email" name="email" required>
            </Label>
        
            <Label>Contraseña
                <input type="password" name="password" required>
            </Label>
        
            <button type="submit">Loguearse</button>
        </form>
        
        <a href="/formUsers/passwordRestoreRequest">¿Olvidaste tu contraseña?</a>
        <p>Si no estás registrado, <a href="../formUsers/register">regístrate</a></p>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../js/login.js"></script>
</body>
</html>
