<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/null/backend-development--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css"> <!-- Los estilos están en /public/css/style.css -->
    <title>Inicio</title>
</head>
<body>
    <%- include("./partials/navBar") %>
    <main>
        <div> 
            <h2>Bienvenido!</h2>
            
            <p>Arriba las manos, esto es un backend!</p>

            <p>No hay mucho que ver por aquí. Esta es la parte backend de este <a href=<%= frontendUrl %>>frontend</a></p>
        </div>
    </main>
</body>
</html>
