<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/style.css"> <!-- Los estilos est치n en public/css/style.css -->
    <title>Restaurar contrase침a</title>
</head>
<body>
    <%- include("./partials/navBar") %> 
    <main>
        <div> 
            <h1>Restaurar contrase침a</h1>
        </div>
        
        <p>Ingrese su correo electr칩nico</p>

        <div>
            <form id="formRestorePassoword">
                <label name="email">Email
                    <input type="email" name="email" required>
                </label>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../js/passwordRestoreRequest.js"></script>
</body>
</html>