<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/style.css"> <!-- Los estilos están en public/css/style.css -->
    <title>Nueva contraseña</title>
</head>
<body>
    <%- include("./partials/navBar") %> 
    <main>
        <div> 
            <h1>Nueva contraseña</h1>
            <p>Escriba su nueva contraseña</p>
            <form id="restorePassword">
                <label>contraseña
                    <input type="password" name="password" required>
                </label>
                <button type="submit">Enviar</button>
            </form>
        </div>

    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../js/restorePassword.js"></script>
</body>
</html>