* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    list-style: none;
}

main {
    margin: 10px;
}

p {
    margin: 10px 0px;
}

a {
    color: rgb(0, 0, 255);
    text-decoration: none;
}
