* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 10px;
}

.card-product {
    width: 300px;
    list-style: none;
}

.card-product div {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

img {
    width: 100%;
}
