<!-- Manda una petición a la ruta /api/products con el método post -->
<form action="/api/products" method="post">
    <Label>Titulo
        <input type="text" name="title" required>
    </Label>

    <Label>Descripción
        <input type="text" name="description" required>
    </Label>

    <Label>Precio
        <input type="number" name="price" required>
    </Label>

    <Label>Imagen (URL)
        <input type="text" name="image" required>
    </Label>

    <Label>Stock
        <input type="number" name="stock" required>
    </Label>

    <button>Enviar producto</button>
</form>
