<header> <!-- Estas son todas las páginas actuales del sitio  -->
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/api-docs">Documentación</a>
            </li>
        </ul>
    </nav>
</header>