<header> <!-- Estas son todas las páginas actuales del sitio  -->
    <nav>
        <ul>
            <li>
                <a href="/">Ir a la página principal</a>
            </li>
            <li>
                <a href="/chat">Sala de chat</a>
            </li>
            <li>
                <a href="/formUsers">Regístrate</a>
            </li>
            <li>
                <a href="/formUsers/login">Iniciar sesión</a>
            </li>
            <li>
                <a href="/profile">Perfil</a>
            </li>
            <li>
                <a href="/info">Info</a> <!-- Info para los desarrolladores que luego borraré -->
            </li>
            <li>
                <a href="/api/randoms">Cálculo pesado</a>
            </li>
        </ul>
    </nav>
</header>